<div class="users index">
  <h2>Users list</h2>

  <table class="listing" summary="Users list">


    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= mail_to(user.email) %></td>
      <td class="actions">

        <%= link_to "Update", edit_user_path(user), class: "btn btn-default" %>
      </td>
    </tr>
    <% end %>
  </table>

  <footer>

    <%= link_to "Add matchings", new_match_path %>
    <%= link_to "Show matchings history", matches_path %>
  </footer>
</div>
